<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/b4d7ef5071.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <title>Upcoming events</title>
</head>

<body>
    <header>
        <div>
            <img class="logo" src="./assets/images/Logo-Amazing-Events2.png" alt="Logo">
        </div>

        <nav>
            <a href="./index.html">Home</a>
            <a class="active" href="#">Upcoming Events</a>
            <a href="./past.html">Past Events</a>
            <a href="./contact.html">Contact</a>
            <a href="./stats.html">Stats</a>
        </nav>
    </header>

    <main id="app">
        <div class="title-container">
            <h1 class="title">Upcoming Events</h1>
        </div>
        <div class="main-container">
            <form class="main-form" id="main-form">
                <div class="main.form" v-for="category of categories">
                    {{filteringEvents}}
                    <input type="checkbox" :value="category" :name="category.split(' ').join('').toLowerCase()"
                        :id="category.split(' ').join('').toLowerCase()" v-model="checked">
                    <label :for="category.split(' ').join('').toLowerCase()">{{category}}</label>
                </div>
            </form>
        </div>
        <form class="search">
            <div>
                {{filteringEvents}}
                <input class="lupa" type="search" placeholder="Search" v-model="searchInput" name="search" id="search">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
            </div>
        </form>
        <div class="cards-container" id="home-cards">

            <div class="card" v-if="filterUpcomingEvents.length" v-for="event of filterUpcomingEvents">
                <div>
                    <img class="card-img" :src=event.image :alt="event.category">
                </div>
                <div>
                    <div class="card-title">
                        <h3>{{event.name}}</h3>
                        <p>{{event.description}}</p>
                    </div>
                    <div class="card-info">
                        <div>
                            <p>Price: $ {{event.price}}</p>
                        </div>
                        <div class="more-info">
                            <p><a :href="'./details.html?id='+event._id">More Info</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="filterEvents.length === 0">
                <h1 class="empty-cards-title">No se encontraron eventos con el nombre: {{searchInput}}</h1>
            </div>

        </div>
    </main>
    <footer>
        <div>
            <h2>Facundo Zumpano - Cohort 37</h2>
        </div>
        <div>
            <img class="logo-media" src="./assets/images/logo-instagram.png" alt="">
            <img class="logo-media" src="./assets/images/facebook-logo.png" alt="">
            <img class="logo-media" src="./assets/images/whatsapp-logo.png" alt="">
        </div>
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>